#pokedex {
    background-color: green;
    /* background-image: url("https://cdn.pixabay.com/photo/2016/08/27/11/59/pokemon-1624022_960_720.jpg") ; */
}
.pokemonR {
    background-color: red;
}
.row {
    display:flex ;
    flex-direction:row ;
}
.col{
    display:flex ;
    flex-direction:column;
}
.text {
    font-size:40px;
    color: white;
}
.water {
    background-color: blue;
}
.fire {
    background-color: red;
}
.grass {
    background-color: green;
}
.ground {
    background-color: brown;
}
.img {
    margin: 10px;
}